:root {
  --bs-body-color: #001e00 !important;
  --bs-body-bg: #f4f4f4 !important;
  --bs-body-font-family: "Switzer", Arial, Helvetica, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Satoshi", Helvetica, sans-serif;
  line-height: 110%;
  letter-spacing: -0.01em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
p {
  font-family: "Switzer", Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0.1px;
  margin-top: 0;
  margin-bottom: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a.btn-green,
button.btn-green {
  background-color: #17594a;
  color: #f4f4f4;
}
a.btn-green:hover,
button.btn-green:hover {
  background-color: #154b3e;
  color: #f4f4f4;
}
.w-6 {
  width: 20px;
}
.fs-7 {
  font-size: 14px;
}
a.text-decoration-none {
  color: var(--bs-body-color);
}
button,
input {
  box-shadow: none !important;
}
